@{ 
    CTJEvaluation001.Domain.Entities.Auth.AuthUser authUser = HttpContext.Current.Session["user"] as CTJEvaluation001.Domain.Entities.Auth.AuthUser;
}
<div class="container-fluid">
    <header class="section-header" id="header">
        <div class="tbl">
            <div class="tbl-row">
                <div class="tbl-cell">
                    <div class="alert alert-info">
                        <span class="font-icon glyphicon glyphicon-info-sign"></span> <text>No records found.
                    </div>

                </div>
            </div>
        </div>
    </header>
</div>